{% extends '_templates/base.njk' %}

{% for restaurants in restaurant.restaurants %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} Restaurants {% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-6-md-6-lg-4">
        <img src="restaurants/{{ restaurants.image }}.html" alt="" class="img-fluid">
        <p>{{ restaurants.name}}</p>
        <h3>{{ restaurants.category}}</h3>
        <h5>{{ restaurants.address}}</h5>
      </div>
    </div>
  </article>
{% endfor %}

{% endblock %}