{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/img-austin/landmarks/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <p>{{ location }} </p>
          <p>{{ established }} </p>
          <p>{{ description | safe }}</p>
          <h3>Activities</h3>
          <p>{{ activities }} </p>
      </div>
    </div>
  </article>
{% endblock %}
