.jumbotron.banner {
    background: url(../img/img-austin/cmc-austin-sunrise-20200614.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 12rem,
  }
  
  .jumbotron {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
  }